[Desktop Entry]
Hidden=false
Name=Vector
Exec=vector
TryExec=vector
Icon=irc-chat
Comment=Connect to the Matrix chat network
Type=Application
NoDisplay=false
StartupNotify=true
StartupWmClass=Vector
Categories=GNOME;GTK;Network
Terminal=false
