[Desktop Entry]
Hidden=false
Name=Riot
Exec=riot
TryExec=riot
Icon=com.igalia.VectorGnome
Comment=Connect to the Matrix chat network
Type=Application
NoDisplay=false
StartupNotify=true
Categories=GNOME;GTK;Network
Terminal=false
