[Desktop Entry]
Hidden=false
Name=Vector
Exec=vector
TryExec=vector
Icon=com.igalia.VectorGnome
Comment=Connect to the Matrix chat network
Type=Application
NoDisplay=false
StartupNotify=true
Categories=GNOME;GTK;Network
Terminal=false
