[Desktop Entry]
Hidden=false
Name=Revolt
Exec=revolt
TryExec=revolt
Icon=org.perezdecastro.Revolt
Comment=Connect to the Matrix chat network
Type=Application
NoDisplay=false
StartupNotify=true
Categories=GNOME;GTK;Network
Terminal=false
