/*
 * CSS snippet from:
 * https://github.com/vector-im/riot-web/issues/109#issuecomment-284862682
 */

div.mx_EventTile {
	padding-top: 0 !important;
}

div.mx_EventTile .mx_SenderProfile {
	font-weight: bold;
	opacity: 1;
}

div.mx_EventTile_line {
	padding-top: 1px !important;
	padding-bottom: 1px !important;
}

div.mx_EventTile_avatar {
	top: 0 !important;
}
